.connect-container {
    max-width: 800px;
    margin: 8rem auto;
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent */
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.connect-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ff006e;
}

.connect-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
}

.social-links a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    background: #8338ec;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-links a:hover {
    background: #ff006e;
}

.email-contact a {
    color: #3a86ff;
    font-weight: bold;
    text-decoration: none;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1rem;
    outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #ccc;
}

.contact-form button {
    padding: 1rem 2rem;
    background: #ff006e;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    background: #3a86ff;
}
